@model DLLCore.DBContext.Entities.Accounting.RawAccounts.RawLedgers

@{
    ViewBag.Title = "حذف";
}

<h2>حذف حساب کل</h2>

<h3>آیا از حذف این حساب کل اطمینان دارید؟</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RawSubCategories.SubCategoryCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RawSubCategories.SubCategoryCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RawSubCategories.SubCategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RawSubCategories.SubCategoryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RawLedgerCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RawLedgerCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RawLedgerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RawLedgerName)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-info" /> |
            @Html.ActionLink("بازگشت به فهرست", "Index", null, new { @class = "btn btn-danger" })
        </div>
    }
</div>
