@model DLLCore.ViewModels.InvestorInfrencesConclutionViewModel

@{
    ViewBag.Title = "ویرایش";
}

<h2>ویرایش استنباط‌ها و نتیجه‌گیری‌ها</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>استنباط‌ها و نتیجه‌گیری‌ها</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.InfrencesConclutionID)

        <div class="form-group">
            @Html.LabelFor(model => model.Inference, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Inference, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Inference, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FinalConclution, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FinalConclution, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FinalConclution, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.InvestorID, "نام سرمایه‌گذار", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("InvestorID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.InvestorID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ویرایش" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("بازگشت به فهرست", "IndexIc", null, new { @class = "btn btn-danger" })
</div>

@{
    if (ViewBag.Smessage != null)
    {
        <h1 id="message" style="color:green;font-size:medium">
            @ViewBag.Smessage
        </h1>
    }
    if (ViewBag.Emessage != null)
    {
        <h1 id="message" style="color:orangered;font-size:medium">
            @ViewBag.Emessage
        </h1>
    }
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $("#message").fadeIn(6000);
            $("#message").fadeOut(6000);
        });
    </script>
}