<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - بهینه</title>
    @*@Styles.Render("~/Content/css")*@
    <link href="~/ContentRtl/js/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/ContentRtl/js/bootstrap/css/bootstrap-rtl.min.css" rel="stylesheet" />
    <link href="~/ContentRtl/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/ContentRtl/css/stylesheet.css" rel="stylesheet" />
    <link href="~/ContentRtl/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/ContentRtl/css/owl.transitions.css" rel="stylesheet" />
    <link href="~/ContentRtl/css/responsive.css" rel="stylesheet" />
    <link href="~/ContentRtl/css/stylesheet-rtl.css" rel="stylesheet" />
    <link href="~/ContentRtl/css/responsive-rtl.css" rel="stylesheet" />
    <link href="~/Content/TableStyle/TableStyle.css" rel="stylesheet" />

    <link href="~/Content/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")


</head>
<body class="d-flex flex-column h-100 justify-content-between">
    <section class="header top">
        <header class="box-shadow-sm">
            <div class="topbar topbar-light bg-white">
                <div class="container">
                    <div>
                        <div class="topbar-text text-nowrap d-inline-block border-left border-light pl-3 ml-3">
                            <a class="navbar-brand d-block ml-3 flex-shrink-0 mr-0 text-right" href="/" style="min-width: 7rem">
                                <img class="headerLogo" src="~/ContentRtl/image/socialicons/digg.png" alt="Behineh" />
                            </a>
                        </div>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>

            <div class="navbar-sticky border-bottom" style="background-color:goldenrod">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("سامانه مشتریان سبدگردانی", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-header">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                @Html.ActionLink("دانلود فایل معاملات", "DownloadFile", "TradeEntries", new { area = "AccountAdmin" }, null)
                            </li>
                        </ul>
                    </div>
                    <div class="navbar-header">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">مدیریت حساب‌ها<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("مدیریت گروه‌های حسابداری", "Index", "RawCategories", new { area = "AccountAdmin" }, null)</li>
                                    <li>@Html.ActionLink("مدیریت زیر گروه‌ها", "Index", "RawSubCategories", new { area = "AccountAdmin" }, null)</li>
                                    <li>@Html.ActionLink("مدیریت حساب‌های کل", "Index", "RawLedgers", new { area = "AccountAdmin" }, null)</li>
                                    <li>@Html.ActionLink("مدیریت حساب‌های معین", "Index", "RawSubLedgers", new { area = "AccountAdmin" }, null)</li>
                                    <li>@Html.ActionLink("مدیریت حساب‌های تفصیلی", "Index", "RawDetailes", new { area = "AccountAdmin" }, null)</li>
                                    <li>@Html.ActionLink("ثبت اسناد متعارف", "Index", "Journals", new { area = "AccountAdmin" }, null)</li>
                                    <li>@Html.ActionLink("ثبت اسناد اتوماتیک", "Index", "TradeEntries", new { area = "AccountAdmin" }, null)</li>
                                    <li>@Html.ActionLink("ثبت اسناد ارزشیابی", "UpdateValuationEntries", "TradeEntries", new { area = "AccountAdmin" }, null)</li>

                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="navbar-header">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">گزارش‌های مالی <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("تراز آزمایشی در سطح کل", "TestBanlanc", "Reports", new { area = "AccountAdmin" }, null)</li>
                                    <li>@Html.ActionLink("تراز آزمایشی در سطح کل تفکیکی ‌", "TestBanlancByInvestor", "Reports", new { area = "AccountAdmin" }, null)</li>
                                    <li>@Html.ActionLink("تراز آزمایشی در سطح معین", "TestBanlancInSubLedger", "Reports", new { area = "AccountAdmin" }, null)</li>
                                    <li>@Html.ActionLink("تراز آزمایشی در سطح معین تفکیکی", "TestBanlancInSubLedgerByInvestor", "Reports", new { area = "AccountAdmin" }, null)</li>
                                    <li>@Html.ActionLink("تراز آزمایشی در سطح تفصیل", "TestBanlancInDetailLevel", "Reports", new { area = "AccountAdmin" }, null)</li>
                                    <li>@Html.ActionLink("تراز آزمایشی در سطح تفصیل تفکیکی", "TestBanlancInDetailLevelByInvestor", "Reports", new { area = "AccountAdmin" }, null)</li>
                                    <li>@Html.ActionLink("حساب سرمایه‌گذاری در سطح تفصیل تفکیکی", "InvestmentsInDetailLevelByInvestor", "Reports", new { area = "AccountAdmin" }, null)</li>

                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="navbar-header">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">ارزیابی عملکرد<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("نرخ بازدهی", "GetPerformance", "Reports", new { area = "AccountAdmin" }, null)</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="navbar-header">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">آخرین قیمت بورسی<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        @Html.ActionLink("به‌روزرسانی جدول", "Index", "Crude", new { area = "SecurityHistory" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("به‌روزرسانی کد تفصیل", "UpdateTafsileCode", "Crude", new { area = "SecurityHistory" }, null)
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="navbar-header">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">امور مشتریان<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        @Html.ActionLink("ثبت مشتریان", "RegisterInvestor", "InvestorRegister", new { area = "" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("ثبت هدف و محدودیت", "CreateOS", "InvestorOSI", new { area = "" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("ثبت نتیجه‌گیری", "CreateIc", "InvestorOSI", new { area = "" }, null)
                                    </li>
                                </ul>

                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </header>
    </section>

    <div class="container body-content">
        @RenderBody()
    </div>
    <hr />

    <footer id="footer">
        <div class="fpart-first">
            <div class="container">
                <div class="row">
                    <p>&copy;  @PersianDateTime.Now - شرکت سبدگردان بهینه</p>
                </div>
                <div class="row">
                    <div class="contact col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <h5>اطلاعات تماس</h5>
                        <ul>
                            <li class="address"><i class="fa fa-map-marker"></i>تهران- ونک</li>
                            <li class="mobile"><i class="fa fa-phone"></i>+21 9898777656</li>
                            <li class="email"><i class="fa fa-envelope"></i>برقراری ارتباط از طریق <a href="contact-us.html">تماس با ما</a>
                        </ul>
                    </div>
                    <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                        <h5>اطلاعات</h5>
                        <ul>
                            <li><a href="about-us.html">درباره ما</a></li>
                            <li><a href="about-us.html">اطلاعات ارسال</a></li>
                            <li><a href="about-us.html">حریم خصوصی</a></li>
                            <li><a href="about-us.html">شرایط و قوانین</a></li>
                        </ul>
                    </div>
                    <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                        <h5>خدمات مشتریان</h5>
                        <ul>
                            <li><a href="contact-us.html">تماس با ما</a></li>
                            <li><a href="#">بازگشت</a></li>
                            <li><a href="sitemap.html">نقشه سایت</a></li>
                        </ul>
                    </div>
                    <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                        <h5>امکانات جانبی</h5>
                        <ul>
                            <li><a href="#">برند ها</a></li>
                            <li><a href="#">کارت هدیه</a></li>
                            <li><a href="#">بازاریابی</a></li>
                            <li><a href="#">ویژه ها</a></li>
                        </ul>
                    </div>
                    <div class="column col-lg-2 col-md-2 col-sm-3 col-xs-12">
                        <h5>حساب من</h5>
                        <ul>
                            <li><a href="#">حساب کاربری</a></li>
                            <li><a href="#">تاریخچه سفارشات</a></li>
                            <li><a href="#">لیست علاقه مندی</a></li>
                            <li><a href="#">خبرنامه</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="fpart-second">
            <div class="container">
                <div id="powered" class="clearfix">
                    <div class="powered_text pull-left flip">
                        <p>کپی رایت © @DateTime.Now.Year شرکت سبدگردان بهینه | پارسی سازی و ویرایش توسط <a href="#" target="_blank">بهینه پرداز</a></p>
                    </div>
                    <div class="social pull-right flip"> <a href="#" target="_blank"> <img data-toggle="tooltip" src="~/ContentRtl/image/socialicons/facebook.png" alt="Facebook" title="Facebook"></a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="~/ContentRtl/image/socialicons/twitter.png" alt="Twitter" title="Twitter"> </a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="~/ContentRtl/image/socialicons/google_plus.png" alt="Google+" title="Google+"> </a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="~/ContentRtl/image/socialicons/pinterest.png" alt="Pinterest" title="Pinterest"> </a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="~/ContentRtl/image/socialicons/rss.png" alt="RSS" title="RSS"> </a> </div>
                </div>
                <div class="bottom-row">
                    <div class="custom-text text-center">
                        <p>عملکرد بهینه، رسالت و ماموریت شرکت سبدگردان بهینه است.</p>
                    </div>
                    <div class="payments_types"> <a href="#" target="_blank"> <img data-toggle="tooltip" src="~/ContentRtl/image/payment/payment_paypal.png" alt="paypal" title="PayPal"></a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="~/ContentRtl/image/payment/payment_american.png" alt="american-express" title="American Express"></a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="~/ContentRtl/image/payment/payment_2checkout.png" alt="2checkout" title="2checkout"></a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="~/ContentRtl/image/payment/payment_maestro.png" alt="maestro" title="Maestro"></a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="~/ContentRtl/image/payment/payment_discover.png" alt="discover" title="Discover"></a> <a href="#" target="_blank"> <img data-toggle="tooltip" src="~/ContentRtl/image/payment/payment_mastercard.png" alt="mastercard" title="MasterCard"></a> </div>
                </div>
            </div>
        </div>
        <div id="back-top"><a data-toggle="tooltip" title="بازگشت به بالا" href="javascript:void(0)" class="backtotop"><i class="fa fa-chevron-up"></i></a></div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/ContentRtl/js/jquery-2.1.1.min.js"></script>
    <script src="~/ContentRtl/js/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/ContentRtl/js/jquery.easing-1.3.min.js"></script>
    <script src="~/ContentRtl/js/jquery.dcjqaccordion.min.js"></script>
    <script src="~/ContentRtl/js/owl.carousel.min.js"></script>
    <script src="~/ContentRtl/js/custom.js"></script>


    <script src="~/Scripts/MdBootstrapPersianDateTimePicker/jalaali.js"></script>
    <script src="~/Scripts/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.js"></script>
    @RenderSection("scripts", required: false)
</body>

</html>
